.App {
    max-width: 400px;
    margin: 0 auto;
    padding: 60px;
    background-color: #ede6e6;
    border: 2px solid #0e0d0d;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.App label {
    display: block;
    margin-bottom: 30px;
}

.App img {
    height: 200px;
    width: 200px;
    border-radius: 8px;
    display: block;
}

.icon {
    position: absolute;
    top: 2;
    right: 2;
    margin-left: auto;
    height: 2rem;
    width: 2rem;
}

.arrow {
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
}




